global
    daemon
    maxconn 4096
    pidfile /var/run/haproxy.pid

defaults
    mode tcp
    timeout connect 5s
    timeout client 1m
    timeout server 1m
    option redispatch

listen stats :1936
    mode http
    stats enable
    stats hide-version
    #stats realm Haproxy\ Statistics
    stats uri /
    #stats auth Username:Password

frontend http-in
    bind *:80
    
    acl master_host hdr(host) -i master.backend.teamwire.eu
    use_backend backend-master if master_host

{% if 'backend-public-prod' in services %}
    default_backend backend-public-prod
{% endif %}

{% for service in services %}
    {% if service.startswith('backend-') %}
backend {{ service }}
    balance roundrobin
    {% for backend in services[service].backends %}
    server {{ backend.name }} {{ backend.addr }} check inter 2s rise 3 fall 2{% endfor %}
    {% endif %}
{% endfor %}
